# --- Core FastAPI ---
fastapi==0.116.1
uvicorn[standard]==0.35.0
starlette==0.47.3

# --- Tipado y validaciones ---
pydantic==2.11.7
pydantic_core==2.33.2
annotated-types==0.7.0
typing_extensions==4.15.0
typing-inspection==0.4.1

# --- Async / servidor ---
anyio==4.10.0
h11==0.16.0
httptools==0.6.4
uvloop==0.21.0
websockets==15.0.1
watchfiles==1.1.0

# --- Configuración / utilidades ---
python-dotenv==1.1.1
python-multipart==0.0.20
PyYAML==6.0.2
click==8.2.1
idna==3.10

# --- Base de datos ---
sqlmodel==0.0.22
SQLAlchemy==2.0.36

mysqlclient==2.2.4       # MySQL/MariaDB (alternativa)

# --- Autenticación y seguridad ---
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.2.0

